@import "./../../../scss//index.scss";

.hero {
  background-image: url("./../../../assets/img/Hero-background.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 11px 15px 1px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0px 11px 15px 1px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 11px 15px 1px rgba(0, 0, 0, 0.51);
  position: relative;
  height: 20rem;
  width: 100%;

  .hero-legend {
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 14px -2px #000000;
    box-shadow: 0px 2px 14px -2px #000000;
    display: none;
    padding: 1.5rem;
    position: absolute;
    left: 4rem;
    top: calc(14rem - 100px);
    width: 25rem;
    height: 150px;

    h3 {
      color: $secondary-title;
      font-size: 30px;
      margin: 0 0 0.8rem 0;
    }

    span {
      font-size: 16px;
      line-height: 30px;
    }
  }
}

//TABLET
.hero {
  @include tablet() {
    position: relative;
    height: 22rem;
    width: 100%;

    .hero-legend {
      display: block;
      position: absolute;
      left: 2rem;
      top: calc(12rem - 100px);
      width: 23rem;
      height: 140px;

      h3 {
        font-size: 25px;
        margin: 0 0 0.5rem 0;
      }
    }
  }
}

//DESKTOP
.hero {
  @include desktop() {
    height: 28rem;
    width: 100%;

    .hero-legend {
      padding: 1.5rem;
      position: absolute;
      left: 4rem;
      top: calc(14rem - 100px);
      width: 25rem;
      height: 150px;
    }
  }
}
