@import "./../../../scss/index.scss";

//TELEFONO
.home-body {
  background-color: #18191a;
  display: flex;
  flex-direction: column;

  .home-body-post-form {
    order: -1;
    overflow: hidden;
    z-index: 1;
  }
}

//TABLET

//DESKTOP
.home-body {
  @include desktop() {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: auto 60px;

    .home-body-post-form {
      order: 1;
      overflow: unset;
      position: sticky;
      top: 2rem;
      margin-bottom: 1.5rem;
    }

    .paginator {
      grid-column: 1 / 2;
      grid-row: 2/ 3;
    }
  }
}
