@import "./../../../scss/index.scss";

//TELEFONO
.header {
  background-color: $background-grey-light;
  border-bottom: 1px solid $border-grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.2rem;
  position: relative;
  height: 72px;
  width: 100%;

  a {
    display: flex;
    order: 2;
  }

  .header-logo {
    margin: 0;
    width: 145px;
    height: 27px;
  }
}

//TABLET Y DESKTOP
.header {
  @include tablet() {
    padding: 0 1.2rem;
    height: 72px;
    width: 100%;

    a {
      order: unset;
    }
  }
}
