@import "./../../scss/index.scss";

//TELEFONO
.login-container {
  min-height: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .login-logo {
    margin: 0.5rem 0;
    width: 207px;
    height: 46px;
  }

  .login-description {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-top: 0;
  }

  .login-left-child {
    background: $background-grey-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

  }

  .login-right-child {
    display: none;
  }
}

//TABLET Y DESKTOP
.login-container {
  @include tablet() {
    min-width: none;
    display: grid;
    grid-template-columns: 60% 40%;

    .login-left-child {
      grid-column: 1 / 2;

    }

    .login-right-child {
      background: #000;
      display: block;
    }
  }
}
