//variables medias queries
$telefono : 480px;
$tablet : 768px;
$desktop : 1024px;

//colores
$font-light: #FFF;
$font-grey: #a2a2a2;
$font-dark: #000;

$background-light: #FFF;
$background-grey-light: #fafafa;

$border-grey: #dbdbdb;
$border-dark: #000;

$secondary-title: #3c3b37;

$button-primary: #1db954;

// $action: #0095f6;
$action: #0045b6;
$danger: #ed4956;
$select: #1db954;

//alert
$alert-danger: #f02849;

//PAGINATOR
$paginator-color: #e8444b;
$paginator-border-color: #929292;